/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 5px;
}

h1, h2 {
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type="text"],
input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="date"]:focus {
  outline: none;
  border-color: #337ab7;
}

label {
  font-weight: bold;
}

/* Estilos específicos */

header {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

main {
  padding: 10px;
}

table {
  margin: 0 auto;
}
td {
  padding: 5px 15px;
  vertical-align: top;
  border: 1px solid #ccc;
  border-radius: 15px;
}

#status {
  text-align:center;
}


#mainDiv {
  text-align:center;
}

#contenedorRespuesta {
  margin-top: 20px;
}

/* Efectos en HTML para mostrar responses */
.oculto {
  visibility: hidden;
}

.ok {
  background-color: #BBFFBB;
  text-color: #00CC00;
  border: 1px solid;
  border-radius: 15px;

}

.error {
  background-color: #FFBBBB;
  text-color: #CC0000;
  border: 1px solid;
  border-radius: 15px;

}


/* Estilos para el diseño responsivo */

@media (max-width: 767px) {
  .container {
    padding: 10px;
  }
}

